main {
    
    height: 100%;
    width: 100%;
    background: linear-gradient(#2d5927, #275932, #004e03);
    padding-top: 5%;
}

main a{
    text-decoration: underline;
    color: #00ff08;
}

main a:hover{
    text-decoration: underline;
    color: #06ce0c;
}

.redes-sociais ul {

    color: white;
    padding: 3%;
    font-size: 20px;

}

.redes-sociais h2{
    color: #00ff08;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.nao {

    color: transparent;

}

.textos {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2% 10% 2% 10%;

}

.textos img {

    border-radius: 15%;
    margin-left: 5%;
    max-height: 100%;
    max-width: 100%;

}

.textos2 {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2% 10% 2% 10%;

}

.textos2 img {

    border-radius: 15%;
    margin-right: 3%;
    max-height: 100%;
    max-width: 100%;

}

.redes-sociais ul {
    border: solid 4px #198a1d;
    border-radius: 20px ;
    background-color: #00ff0833;
}

.redes-sociais ul:hover {
    transition: .5s;
    transform: scale(1.01);
    border: solid 4px #198a1d;
    border-radius: 20px ;
    background-color: #00ff0856;
}

.contatos{
    display: flex;
    flex-direction: column;

}

.contatos h2{
    color: #00ff08;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 7%;
}

.contatos ul{
    color: #fff;
    text-align: justify;
    margin: 5% auto;
    font-size: 25px;
}

.contatos span{
    text-decoration: underline;
}

.email{
   padding: 10% 0% 10% 0%; 
}