body {

    height: 100%;
    width: 100%;

}

.fundo-curiosidades {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    background-image: url(/assets/fundo-curiosidades.png);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    z-index: 10;

}

.fundo-curiosidades h1 {

    color: #faa0a0;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: rgb(184, 25, 25);
    text-align: center;
    z-index: 10;

}

.texto {

    border-radius: 200px;
    z-index: 10;

}

.texto p {

    text-align: center;
    color: #f39b9b;
    font-size: 30px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(184, 25, 25);
    z-index: 10;

}

.fundo-curiosidades::after {

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 20%, #000 100%);

}

.curiosidades {

    height: 100%;
    width: 100%;
    background: linear-gradient( #000, #000, #000, #212121, #212121, #212121)

}

.curiosidades ul {

    color: white;
    padding: 3%;
    font-size: 20px;

}

.nao {

    color: transparent;

}

.textos {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 5% 10% 5% 10%;

}

.textos img {

    border: white 2px solid;
    border-radius: 15%;
    margin-left: 5%;
    max-height: 100%;
    max-width: 100%;

}

.textos2 {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 5% 10% 5% 10%;

}

.textos2 img {

    border: white 2px solid;
    border-radius: 15%;
    margin-right: 3%;
    max-height: 100%;
    max-width: 100%;

}

@media (max-width: 1204px) {

    .curiosidades ul {

        font-size: 15px;

    }

}

@media (max-width: 1080px) {

    .fundo-curiosidades {

        font-size: 70px;

    }

}

@media (max-width: 1052px) {

    img {

        height: 300px;
        width: 350px;

    }

}

@media (max-width: 818px) {

    .fundo-curiosidades {

        font-size: 30px;

    }

    .texto h1 {

        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: red;

    }


    .curiosidades img {

        display: none;

    }

    .texto p {

        font-size: 10px;

    }

    .curiosidades ul {

        font-size: 10px;

    }

}

@media (max-width: 694px) {

    .curiosidades ul {

        font-size: 10px;

    }

    .curiosidades img {

        height: 150px;
        width: 200px;

    }

}

@media (max-width: 488px) {

    .curiosidades ul {

        font-size: 10px;

    }

    .fundo-curiosidades {

        font-size: 15px;

    }

}

@media (max-width: 392px) {

    .curiosidades img {

        display: none;

    }

}

@media (max-width: 342px) {

    .curiosidades ul {

        font-size: 10px;
        margin: 2%;

    }    

    .fundo-curiosidades h1 {

        font-size: 20px;

    }

}