.sombra {
     
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url(/assets/desenv-prolong.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 130vh;
    width: 100vw;

}

.section-fundo {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-size: cover;

}

.titulo {

    font-size: 90px;

}

.section-fundo::after {

    display: flex;
    justify-content: center;
    content: "";
    height: 130vh;
    width: 100%;
    position: absolute;
    z-index: 7;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0) 40%, #000000, #003a00 100%);

}

.sombra h1 {

    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: #006e25;
    color: rgb(255, 255, 255);
    width: 1000px;
    text-align: center;
    z-index: 8;
    padding-top: 10%;

}

.texto-desenv {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(#003a00, #003a00, #005007, #0f5019, #005007, #003a00, #000000, #000000);

}

.texto-desenv p {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    margin: 20% 10% 20% 10%;
    text-align: justify;
    letter-spacing: 2px;

}

.texto {

    border: solid black 4px;
    background: linear-gradient(#012c00, #003307, #004609, #105313, #004609, #003307 ,#012c00, rgb(11, 49, 14));
    border-radius: 50px;
    padding: 4%;

}

.informacoes {

    font-family: "Montserrat", serif;
    height: 100%;
    width: 100%;
    color: white;
    background: linear-gradient( #000000, #003a00, #003a00, #0c4114, #0c4114, #0c4114, #003a00, #000000);
    font-size: 20px;
    padding: 20%;

}

.informacoes p {

    padding-bottom: 5%;

}

/*media query*/
@media (max-width: 1021) {



}