@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/disintegration');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-image: url(/assets/fundo3\ .jpg);    
    background-size: cover;
    background-attachment: fixed;

}

.header {
    background: #455927;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border: black 5px solid;
    border-bottom: none;

}

.header h1 {
    margin: 0;
    font-family: "Lilita One", sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-size: 3em; color: #fffdd9; 
}

.logo {

    height: 50px;
    width: 70px;

}

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cabecalho h1 {

    margin: 0 auto;
    padding-left: 4%;

}

.navbar {
    display: flex;
    justify-content: center;
    background: #D0D9D7;
    color: #000000;
    padding: 0.5rem;
    border: 5px solid black;
    
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navbar li {
    padding: 0 10px;
}

.navbar li:hover {

    transition: 0.5s;
    transform: scale(1.05);

}

.navbar a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}

.navbar a:hover {

    color: #096906;
    
}

.main-content {
    display: flex;
    flex: 1;
    padding: 1rem;
}

.content {
    flex: 3;
    padding: 1rem;

}

.image-size {

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-radius: 4%;
    min-width: 100%;

}

.artigo1 {

    display: flex;
    flex-wrap: wrap;
    border: black 2px solid;
    border-radius: 4%;
    color: rgb(0, 0, 0);
    background: #aab8a1;  

}

.artigo1:hover{
     
    transition: 0.5s;
    transform: scale(1.03);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.699);
    background: #c5d2bd;    

}

.artigo1 h2 {

    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    padding-bottom: 10px;

}

.effect {

    flex: 0 0 calc(50% - 5%)

}

.texto {

    padding: 20px;

}

.articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.article {
    flex: 0 0 calc(50% - 5%)
}

.content article {
    margin-bottom: 2rem;
}

.content article h2 {
    margin-bottom: 0.5rem;
}

.content article p {
    margin-bottom: 0.5rem;
}

.sidebar {

    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    max-height: auto;
    position: relative;
    right: 10px;
}

.fundo-sidebar {

    background-color: #798d8a;

}

iframe {

    display: flex;
    justify-content: center;
    border-radius: 5%;

}

.sidebar iframe:hover {

    transition: 0.8s;
    transform: scale(1.01);
    border-radius: 10%;

}

.sidebar h2 {
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 0.3rem;
}

.sidebar ul {

    list-style-type: none;
    text-align: center;
    
}

.sidebar ul li + li {
    
    margin-top: 0.5rem;
}

.sidebar p {
    
    font-style: italic;
    padding: 10px;
}

.sidebar h4 {

    padding-top: 10px;
    padding-left: 10px;
}

.links {

    padding-bottom: 0.3rem;
    padding-top: 1rem;
    text-align: center;

}

.fundo-links {

    margin-top: 10px;
    border-top: 3px solid #bbb;
    border-bottom: 3px solid #bbb;
    padding-bottom: 3%;
    padding-top: 5%;

}

.links li {

    padding-top: 1rem;

}

.links li :hover {

    transition: 1.24s;
    transform: scale(1.08);
    transform: rotate(360deg);

}

.email {

    padding-top: 20px;

}

.video {

    padding: 10px;

}

#topo {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-decoration: none;
    color: white;
    background-color: #015513;
    border-radius: 50%;
    padding: 1% 1.2% 1% 1.2%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #000000;
    z-index: 20;
    
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/*Media qery*/

@media (max-width: 1784px) {

    .image-size {

        display: grid;
        grid-column: auto;
        padding-bottom: 30px;
        border-radius: 4%;
        max-width: 100%;
        min-width: 100%;

    }


}

@media (max-width: 1400px) {

    .articles {

        display: flex;
        flex-direction: column;
        padding: 3% 15% 3% 15%;

    }

}

@media (max-width: 1124px) {

    .sidebar{
        display: none;
    }

}

@media (max-width: 1124px) {

        .image-size {

            display: grid;
            grid-column: auto;
            padding-bottom: 30px;
            border-radius: 4%;
            max-width: 100%;
            min-width: 100%;

        }

        .artigo1 {

            display: flex;
            flex-direction: column;

        }

        .articles {

            display: flex;
            justify-content: space-evenly;
    
        }

}

@media (max-width: 800px) {

    .articles {

        display: flex;
        flex-direction: column;
        padding: 10%;

    }

}

@media (max-width: 664px){

    .articles {

        display: grid;

    }

}

@media (max-width: 450px) {

    .article {

        padding: 2% 2% 2% 2%;

    }

    .texto {

        font-size: 15px;

    }

    .texto h2 {

        text-align: center;
        font-size: 15px;

    }

    .image-size {

        height: 250px;
        padding-bottom: 0px;

    }

}

@media (max-width: 343px) {

    .texto h2 {

        font-size: 11px;

    }

    .texto {

        font-size: 9px;

    }

    .image-size {

        height: 100px;
        padding-bottom: 0px;

    }

    .article {

        margin: 1% 1% 1% 1%;
        padding: 0%, 0%, 0%, 0%;

    }

    .cabecalho p, img {

        display: none;

    }

    .navbar {

        font-size: 12px;

    }

    .cabecalho h1 {

        font-size: 30px;

    }

}

@media (max-width: 248px) {

    .navbar {

        font-size: 8px;

    }

    .cabecalho h1 {

        font-size: 20px;

    }

    .article {

        display: flex;
        justify-content: center;
        padding: 2%;

    }

    .texto {

        font-size: 5px

    }

    .image-size {

        height: 130px;
        padding-bottom: 0px;

    }

}